<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <title>Links Impulse</title>
</head>

<body>
    <section id="top-f">
        <div id="title-g">
            <a id="title-min">uma seleção de produtos</a>
            <a id="title-max">especial para você</a>
            <a id="subtitle">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</a>
            <div id="buttons">
                <a id="button">Conheça a Linx</a>
                <a id="button">Ajude o algorítimo</a>
                <a id="button">Seus produtos</a>
                <a id="button">Compartilhe</a>
            </div>
        </div>
    </section>
    <section id="mid-1">

    </section>
</body>

</html>